%td
  %a{:href => "/players/#{player['locale']}-#{player['summoner_name']}"}= player['summoner_name']
  %br
  %img{:src => "/images/champions/#{LOL.champion_name(player['skin_name'])}.png", :alt => LOL.champion_name(player['skin_name']), :width => 60, :height => 60}
  %br
  = LOL.champion_name(player['skin_name'])
%td= player['level']
%td= "#{player['elo']} (#{player['elo_change']})"
%td= player['statistics']['8']
%td= player['statistics']['4']
%td= player['statistics']['48']
%td
  - player['items'].each do |item|
    %img{:src => "/images/items/#{item}.png", :alt => LOL::ITEMS[item], :width => 32, :height => 32, :title => LOL.item_name(item)}