%td
  %a{:href => "/players/#{player['summoner_name']}"}= player['summoner_name']
  %br
  %img{:src => "/images/champions/#{LOL.champion_name(player['skin_name'])}.png", :alt => LOL.champion_name(player['skin_name'])}
%td= player['level']
%td= player['elo']
%td= "#{player['statistics']['8']} / #{player['statistics']['4']} / #{player['statistics']['48']}"
%td
  - player['items'].each do |item|
    %img{:src => "/images/items/#{item}.png", :alt => LOL::ITEMS[item]}