%table
  %thead
    %tr
      %th.summoner Summoner
      %th.champion Champion
      %th.level Level
      %th.elo ELO
      %th.kills Kills
      %th.deaths Deaths
      %th.assists Assisits
      %th.items Items
  %tbody
    - team.each do |player|
      %tr
      = haml(:_team_player, :layout => false, :locals => { :player => player })
    %tr
      %th
      %th
      %th Mean
      %th Mean
      %th Total
      %th Total
      %th Total
      %th
    %tr
      %td
      %td
      %td= (team.inject(0) { |sum, p| sum + p['level'].to_f } / team.length).round(1)
      %td= (team.inject(0) { |sum, p| sum + p['elo'].to_f} / team.length).round(1)
      %td= team.inject(0) { |sum, p| sum + p['statistics']['8'].to_i }
      %td= team.inject(0) { |sum, p| sum + p['statistics']['4'].to_i }
      %td= team.inject(0) { |sum, p| sum + p['statistics']['48'].to_i }
      %td