.uploader-box
  %h2 Upload Your Log Files

  #file-uploader
    %noscript
      %p You are seeing this message because you have Javascript disabled.
      %form#upload-form{:method => :post, :enctype => 'multipart/form-data'}
        %label{:for => 'file'} Select a logfile:
        %input{:type => 'file', :name => 'file'}
        %input{:type => 'submit', :value => 'Upload'}

  %ul#output

.featured-players
  %h2 Most Active Players
  %ul
    - @players.each do |player|
      %li.summoner_name
        %a{:href => "/players/#{player['server']}-#{player['summoner_name']}"}= "#{player['server']}-#{player['summoner_name']}"
    
.featured-matches
  %h2 Latest Matches
  %ul
    - @matches.each do |match|
      %li.match_key
        %a{:href => "/matches/#{match['id']}"}= match['id']
  
%script{:type => 'text/javascript', :src => '/js/file-uploader.js'}
%script{:type => 'text/javascript', :src => '/js/upload.js'}