%h2 Last 50 Parsed Logs

%table.logs
  %thead
    %tr
      %th.filename Filename
      %th.parsed_at Parsed At
      %th.parse_time Parse Time (s)
      %th.matches_found Matches Found
      %th.players_found Players Found
  %tbody
  - @logs.each do |log|
    %tr
      %td.filename= log['filename']
      %td.parsed_at= log['parsed_at']
      %td.parse_time= log['parse_time']
      %td.matches_found= log['matches_found'].collect { |m| "<a href=\"/matches/#{m}\">#{m}</a>" }.join(', ')
      %td.players_found= log['players_found'].collect { |p| "<a href=\"/players/#{p}\">#{p}</a>" }.join(', ')