%h2 Last 100 Parsed Logs

%table
  %thead
    %tr
      %th.filename Filename
      %th.parsed_at Parsed At
      %th.parse_time Parse Time (s)
      %th.matches_found Matches Found
      %th.players_found Players Found
      %th.reparse
  %tbody
  - @logs.each do |log|
    %tr
      %td= log['filename']
      %td= log['parsed_at']
      %td= log['parse_time']
      %td= log['matches_found'].collect { |m| "<a href=\"/matches/#{m}\">#{m}</a>" }.join(', ')
      %td= log['players_found'].collect { |p| "<a href=\"/players/#{p}\">#{p}</a>" }.join(', ')
      %td
        %a{:href => "/reparse?filename=#{log['filename']}"} reparse