%h1
  %a{:href => "/matches/#{@match['id']}"}= @match['id']

%ul
  %li= "Map: #{LOL.map_name(@match['map_id'])}"
  %li= "Created: #{@match['created']}"
  %li= "Queue Type: #{@match['queue_type']}"
  %li= "Game Type: #{@match['game_type']}"
  %li= "Ranked?: #{@match['ranked']}"
  %li= "Game Length: #{@match['game_length'].to_i / 60} minutes"

%h2 Winning Team
%table
  %thead
    %tr
      %th Summoner
      %th Level
      %th ELO
      %th Kills
      %th Deaths
      %th Assisits
      %th Items
  %tbody
    = haml(:_team, :layout => false, :locals => { :team => @match['players'].select { |p| p['team_id'] == '200' } })

%h2 Losing Team
%table
  %thead
    %tr
      %th Summoner
      %th Level
      %th ELO
      %th Kills
      %th Deaths
      %th Assisits
      %th Items
  %tbody
    = haml(:_team, :layout => false, :locals => { :team => @match['players'].select { |p| p['team_id'] == '100' } })

%script{:type => 'text/javascript', :src => '/js/jquery.tools.min.js'}
%script{:type => 'text/javascript', :src => '/js/match.js'}