%h2.match_key
  %a{:href => "/matches/#{@match['id']}"}= @match['id']
%h2.description= "A #{pretty_queue_type(@match['queue_type'])} game on #{LOL.map_name(@match['map_id'])} lasting #{@match['game_length'].to_i / 60} minutes played #{@match['creation_time']}"

-#TODO Expected Outcome = 1 / (1 + 10^((Enemy Rating - Your Rating)/400))
%h3.winning Team One
= haml(:_team, :layout => false, :locals => { :team => @team_one })

%h3.losing Team Two
= haml(:_team, :layout => false, :locals => { :team => @team_two })

%script{:type => 'text/javascript', :src => '/js/jquery.tools.min.js'}
%script{:type => 'text/javascript', :src => '/js/match.js'}