%h2
  %a{:href => "/players/#{@player['locale']}-#{@player['summoner_name']}"}= @player['summoner_name']

%img{:src => "/images/summoner_icons/#{@player['profile_icon_id']}.jpg", :alt => "Summoner Icon"}

%ul
  %li= "Level: #{@player['level']}"
  %li= "Locale: #{@player['locale']}"
  %li= "ELO: #{@player['elo']}"
  %li= "Wins: #{@player['wins']}"
  %li= "Losses: #{@player['losses']}"
  %li= "Leaves: #{@player['leaves']}"
  %li
    = "Last Match: #{@player['last_game_timestamp']}"
    %a{:href => "/matches/#{@player['last_match_key']}"}= @player['last_match_key']
  
%h3 Matches
%ul
  - @player['matches'].each do |match|
    %li= "#{match['id']}"