#player_badge
  .icon
    %img{:src => "/images/summoner_icons/#{@player['profile_icon_id']}.jpg", :alt => "Summoner Icon", :width => '64', :height => '64'}
  .summoner
    %h2.summoner_name
      %a{:href => "/players/#{@player['server']}-#{@player['summoner_name']}"}= "#{@player['server']}-#{@player['summoner_name']}"
    .level
      = "Level #{@player['level']}"

%h3 Record
#player_record
  .record.unranked
    %h4 Normal
    - if @player['record']['normal']
      = "#{@player['record']['normal']['wins']}/#{@player['record']['normal']['losses']}/#{@player['record']['normal']['leaves']}"
    - else
      No record
  .record.ranked
    %h4 Ranked
    - if @player['record']['ranked']
      = "#{@player['record']['ranked']['wins']}/#{@player['record']['ranked']['losses']}/#{@player['record']['ranked']['leaves']}"
    - else
      No record
    
%h3 Current ELO
#player_elo
  
  - if @player['record']
    .elo
      %span.type Normal
      %span.value
        - if @player['elo']['NORMAL']
          = "#{@player['elo']['NORMAL']}"
        - else
          No record
    .elo
      %span.type  Premade 3v3
      %span.value
        - if @player['elo']['RANKED_PREMADE_3v3']
          = "#{@player['elo']['RANKED_PREMADE_3v3']}"
        - else
          No record
    .elo
      %span.type  Solo 5v5
      %span.value
        - if @player['elo']['RANKED_SOLO_5v5']
          "#{@player['elo']['RANKED_SOLO_5v5']}"
        - else
          No record
    .elo
      %span.type Premade 5v5
      %span.value
        - if @player['elo']['RANKED_PREMADE_5v5']
          = "#{@player['elo']['RANKED_PREMADE_5v5']}"
        - else
          No record

#elo_history
  %h3 ELO History

  .history
    .type Normal
    .chart
    %table
      %thead
        %tr
          %th Date
          %th ELO
      %tbody
        - @normal_matches.each do |key, match|
          %tr
            %td= (match['time_started'].to_i)
            %td= match['elo']
        
  .history
    .type Premade 3v3
    %ul
      - @premade_3v3_matches.each do |key, match|
        %li= match['elo']      
  .history
    .type Solo 5v5
    %ul
      - @solo_5v5_matches.each do |key, match|
        %li= match['elo']   
  .history
    .type 5v5 Premade
    %ul
      - @premade_5v5_matches.each do |key, match|
        %li= match['elo']   

#matches
  %h3 Matches
  - if @player['matches']
    %table.matches
      %thead
        %tr
          %th Match
          %th Ranked?
          %th Started At
          %th Length
          %th Champion
      %tbody
        - @player['matches'].each do |key, match|
          %tr
            %td
              %a{:href => "/matches/#{key}"}= key
            %td= match['ranked'] =~ /ranked/ ? 'Ranked' : 'Normal'
            %td= Time.at(match['time_started'][0..9].to_i) - match['game_length'].to_i
            %td= "#{match['game_length'].to_i / 60} min."
            %td= LOL.champion_name(match['skin_name'])
            
  - else
    This player has no matches
    
%script{:type => 'text/javascript', :src => '/js/jquery.flot.min.js'}
%script{:type => 'text/javascript', :src => '/js/player.js'}  