%h1
  %a.summoner_name{:href => "/players/#{@player['locale']}-#{@player['summoner_name']}"}= "#{@player['locale']}-#{@player['summoner_name']}"

%img{:src => "/images/summoner_icons/#{@player['profile_icon_id']}.jpg", :alt => "Summoner Icon", :width => '62', :height => '64'}

%ul
  %li= "Level: #{@player['level']}"
  %li= "Server: #{@player['locale']}"

#record
  %h3 Record
- if @player['record']
  .record
    - if @player['record']['NORMAL']
      %h4 Normal
      .wll= "#{@player['record']['NORMAL']['wins']}/#{@player['record']['NORMAL']['losses']}/#{@player['record']['NORMAL']['leaves']}"
      .elo= "ELO: #{@player['record']['NORMAL']['elo']}"
    - else
      No record
  .record
    %h4 Premade 3v3
    - if @player['record']['RANKED_PREMADE_3v3']
      .wll= "#{@player['record']['RANKED_PREMADE_3v3']['wins']}/#{@player['record']['RANKED_PREMADE_3v3']['losses']}/#{@player['record']['RANKED_PREMADE_3v3']['leaves']}"
      .elo= "ELO: #{@player['record']['RANKED_PREMADE_3v3']['elo']}"
    - else
      No record
  .record
    %h4 Solo 5v5
    - if @player['record']['RANKED_SOLO_5v5']
      .wll= "#{@player['record']['RANKED_SOLO_5v5']['wins']}/#{@player['record']['RANKED_SOLO_5v5']['losses']}/#{@player['record']['RANKED_SOLO_5v5']['leaves']}"
      .elo= "ELO: #{@player['record']['RANKED_SOLO_5v5']['elo']}"
    - else
      No record
  .record
    %h4 Premade 5v5
    - if @player['record']['RANKED_PREMADE_5v5']
      .wll= "#{@player['record']['RANKED_PREMADE_5v5']['wins']}/#{@player['record']['RANKED_PREMADE_5v5']['losses']}/#{@player['record']['RANKED_PREMADE_5v5']['leaves']}"
      .elo= "ELO: #{@player['record']['RANKED_PREMADE_5v5']['elo']}"
    - else
      No record
  
#matches
  %h3 Matches
  - if @player['matches']
    %ul
      - @player['matches'].each do |match|
        %li
          %a{:href => "/matches/#{match}"}= match
  - else
    This player has no matches
    